<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChuyenDoiSoServer</title>

    @* Bootstrap 5.1 *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @* Font awesome *@
    <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    @* Sumernote *@
    <link rel="stylesheet" href="~/lib/summernote/summernote-lite.min.css" />

    @* My CSS *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
</head>

<body>

    <main role="main">
        <Partial name="_SideBar" />
        <div class="main-container">
            <Partial name="_NavBar" />
            <div class="main-content">
                @RenderBody()
            </div>
            <Partial name="_Footer" />
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
