.footer {
    position   : absolute;
    bottom     : 0;
    right      : 0;
    left       : 250px;
    white-space: nowrap;
    line-height: 60px;
    width      : auto;
    padding    : 6px 12px;
}