@import '../common/variables';

.main-container {
    padding-left: $sidebar-width;
    padding-top : $navbar-height;
    overflow    : hidden;
    min-height  : 100vh;

    .main-content {
        padding   : 16px;
        min-height: 100%;
    }
}