@import '../common/variables';

.admin-navbar {
    position        : fixed;
    top             : 0;
    left            : $sidebar-width;
    right           : 0;
    background-color: $backgrounddark;
    color           : $whitecolor;
    height          : $navbar-height;

    .dropdown-menu {
        box-shadow: $default-boxshadow;

        a {
            cursor: pointer;
        }
    }
}

.sidebar-toggler {
    cursor: pointer;

    &:hover {
        color: $maincolor;
    }
}