@{
    ViewData["Title"] = "Kích hoạt thành công";
}

<div class="text-center">
    <h1 class="display-4">Cảm ơn bạn đã đăng ký tài khoản</h1>
    <p>Tài khoản của bạn đã kích hoạt thành công và đang trong quá trình chờ xét duyệt</p>
</div>
