@{
    Layout = "_UserLayout";
}

<div class="user-container">
    <img src="~/images/check.jpg" alt="">
    <div class="title">Cảm ơn bạn đã đăng ký tài khoản</div>
    <div class="sub">Tài khoản của bạn đã kích hoạt thành công và đang trong quá trình chờ xét duyệt</div>
</div>
