@{
    ViewData["Title"] = "Hạn chế truy cập";
    Layout = "_UserLayout";
}

<div class="user-container" style="min-height: 90vh;">
    <img src="~/images/banned_icon.png" alt="">
    <div class="title text-danger">Hạn chế truy cập</div>
    <div class="sub">Bạn không có quyền truy cập chức năng này</div>
</div>