.custom-toast {
    background : $backgrounddark;
    color      : white;
    border     : 1px solid white;
    min-width  : 250px;
    text-align : center;
    font-size  : 18px;
    font-weight: 500;
}